
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



* {
box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.0001), #000000), url('https://wallpaperaccess.com/full/3167720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.background-image {
transform: rotate(30deg);
}

li, a, button, title {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
   
}
header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 1px 10%;
}
.nav-links{
    list-style: none;
  
}
.nav-links li {
display:inline-block;
padding: 0px 80px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color:#0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
body {
    padding: 30px;
   
  }
kontakt {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 30px 10%;
}
.kontakt-links{
    list-style: none;
}
.kontakt-links li {
display: inline-block;
padding: 40px 60px;
margin-right: 20px;


}
.kontakt-links li a {
    transition: all 0.3s ease 0s;
}
.kontakt-links li a:hover {
    color: #0088a9;
}
h1{
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
}
h2 {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none; 
    position: relative;
}
  label {
    font-family: "Monserrat", sans-serif;
    align-items: center;
    color: #edf0f1;
    padding: 20px;
    
  }
  textarea:focus, input:focus, select:focus {
    color: #0088a9;
    cursor: pointer;
    background: transparent;
   
    
}

input, textarea{
    color: #ffffff;
    cursor: pointer;
    border: 2px solid;
    background: transparent;
   
    
}
select, input {
    width: 20%;
    padding: 15px 15px;
    margin: center;
    box-sizing: border-box;
    border-radius: 20px;
    background: transparent;
    color: #ffffff;
    border: 2px solid;
    
  
  }

  .container {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
  }
  .container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
  }
  .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(180deg,#0088a9,#000000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container .box:hover .imgBx:before {
    opacity: 1;
  }
  .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container .box:hover .content h2 {
    transform: translateY(0px);
  }
  .container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .container .box:hover .content p {
    transform: translateY(0px);
  }
.Hallal {
    font-size: 60px;
    font-family: "Monserrat", sans-serif;
   margin: 5%;
    
    
  }
  .Hallal{
    color: transparent;
    -webkit-text-stroke: 2px #0088a9;
    position: relative;
  }
  .Hallal::before {
    content: "Chcesz wypożyczyć luksusowy samochód?";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: #0088a9;
    border-right: 5px solid #0088a9;
    transition: 0.85s ease-in-out;
  }
  .Hallal:Hover::before{
    width: 97%;
    filter: drop-shadow(0 0 25px #0088a9);
  }
  .article-text {
    font-size: 25px;
    font-family: "Monserrat", sans-serif;
    margin: 15%;
  }
  .article-text {
    color: transparent;
    -webkit-text-stroke: 1px #0088a9;
    position: relative;
  }
  .article-text::before {
    content: "Operujemy szerokim wachlarzem pojazdów, zapraszamy do skorzystania z naszej oferty";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: #0088a9;
    border-right: 5px solid #0088a9;
    transition: 1s ease-in-out;
  }
  .article-text:Hover::before{
    width: 101%;
    filter: drop-shadow(0 0 25px #0088a9);
  }
  headd {
    font-size: 40px;
    font-family: "Monserrat", sans-serif;
   margin: 39%;
   
  }
  headd {
    color: transparent;
    -webkit-text-stroke: 1.2px #0088a9;
    position: relative;
  }
  headd::before {
    content: "Prezes i fundator";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: #0088a9;
    border-right: 5px solid #0088a9;
    transition: 0.8s ease-in-out;
  }
  headd:Hover::before{
    width: 101%;
    filter: drop-shadow(0 0 25px #0088a9);
  }
  .hero-banner {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    z-index: -1;
  }
  
  .hero-banner__title {
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
    padding: 0 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
  }
  
  .hero-banner__stroked-title {
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    text-shadow: 2px rgb(255, 255, 255);
  }
  
  .hero-banner__image {
    border-radius: 20px;
    position: center;
    transform: rotate(-15deg);
    width: 450px;
  }
  body {
    background-color: #000;
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }